body{
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  padding: 6px;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  justify-content: space-between;
  transition: all ease 0.3s;
  z-index: 3;
}
.product-input{
  width: 80%;
  padding: 6px;
  border: none;
  border-radius: 60px;
  font-size: 12px;
  font-weight: 500;
  color: gray;
  text-align: center;
}
.find-btn{
  width: 90%;
  padding: 6px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  background-color: white;
  color: black;
  transition: all ease 0.3s;
  cursor: pointer;
}
.product-wrapper{
  width: 100%;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 6px;
  background-color: black;
  border: 1px solid white;
  transition: all ease 0.3s;
}
.product-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 6px;
  background-color: black;
  border: 1px solid white;
  border-radius: 6px;
  transition: all ease 0.3s;
  margin: 6px;
}
.product-container1{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 6px;
  background-color: black;
  border: 1px solid white;
  border-radius: 6px;
  transition: all ease 0.3s;
  margin: 6px;
}
.product-pic{
  width: 60%;
  border-radius: 6px;
}
.product-name{
  font-size: 12px;
  font-weight: bold;
  color: black;
  background-color: white;
  padding: 6px;
}
.product-price{
  font-size: 12px;
  font-weight: 500;
  color: lime;
}
input{
  width: 40%;
  border: none;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  color: black;
  text-align: center;
}
.add-btn{
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
  width: 80%;
  border-radius: 6px;
  cursor: pointer;
  margin: 6px;
  transition: all ease 0.3s;
}
.add-btn:active{
  transform: scale(0.9);
}
.order-btn{
  background-color: rgb(2, 207, 2);
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
  width: 80%;
  border-radius: 6px;
  cursor: pointer;
  margin: 6px;
  border: none;
  transition: all ease 0.3s;
}
.order-btn:active{
  transform: scale(0.9);
}

.my-btn{
  background-color: rgb(2, 207, 2);
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
  width: 80%;
  border-radius: 6px;
  cursor: pointer;
  margin: 6px;
  border: none;
  transition: all ease 0.3s;
}
.my-btn:active{
  transform: scale(0.9);
}
.remove-btn{
  background-color: rgb(209, 1, 1);
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
  width: 80%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 6px;
  transition: all ease 0.3s;
}
.remove-btn:active{
  transform: scale(0.9);
}
.hide{
  opacity: 0;
  pointer-events: none;
}
.search-wrapper{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 6px;
  background-color: black;
  border: 1px solid white;
  position: absolute;
  top: 20%;
  transition: all ease 0.3s;
}
.order-wrapper{
  width: 80%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 6px;
  background-color: black;
  border: 1px solid white;
  border-radius: 6px;
  overflow-y: scroll;
  position: absolute;
  top: 15%;
  transition: all ease 0.3s;
}
.cart-wrapper{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 6px;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all ease 0.3s;
  z-index: 3;
}
.cart-btn{
  width: 80%;
  border: none;
  padding: 6px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  color: black;
  background-color: white;
  cursor: pointer;
  transition: all ease 0.3s;
}
.cart-btn:active{
  transform: scale(0.9);
}
.cart-left{
  color: white;
  background-color: black;
  border: 1px solid white;
}
.quantity-text{
  color: white;
  font-size: 12px;
  font-weight: 500;
}
.item-text{
  font-size: 14px;
  font-weight: bold;
  color: white;
}
.item-number{
  font-size: 12px;
  font-weight: 500;
  color: white;
}